# Python
__pycache__/
*.py
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# MkDocs
site/

# Tests / tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Environnements
.venv/
venv/
env/
*.env

# Notebooks
.ipynb_checkpoints/
